<!--clauserEdit.html-->

<form role="form" action="update" method="post">
	<div class="card">
		<div class="table-responsive">
			<table class="table align-edititems-center mb-0">
				<tbody>
					<tr>

						<input type="hidden" name="admin" value="admin" required />
						<input type="hidden" name="comment" th:value=${edititem.mbComment}
							required />
						<div class="input-group input-group-outline my-3">
							<label class="form-label"></label> <input
								style="margin-left: 25%; margin-right: 25%" type="email"
								class="form-control" name="id" id="id" placeholder="Email"
								th:value=${edititem.mbId} th:readonly="true" />
						</div>
						<div class="input-group input-group-outline mb-3">
							<label class="form-label"></label> <input
								style="margin-left: 25%; margin-right: 25%" type="text"
								class="form-control" name="name" id="name"
								placeholder="NickName" th:value=${edititem.mbName} required />
						</div>
						<div class="input-group input-group-outline mb-3">
							<label class="form-label"></label> <input
								style="margin-left: 25%; margin-right: 25%" type="password"
								class="form-control" name="pw" id="pw" placeholder="Password"
								th:value=${edititem.mbPw} required />
						</div>
						<div class="input-group input-group-outline mb-3">
							<label class="form-label"></label> <input
								style="margin-left: 25%; margin-right: 25%" type="number"
								class="form-control" name="level" id="level" placeholder="Level"
								th:value=${edititem.mbLevel} required />
						</div>
						<div class="button"
							style="display: flex; justify-content: flex-end; margin-right: 25%">
							<button type="submit"
								class="btn btn-sm  bg-gradient-primary  mb-0 me-1 mt-2 mt-md-0">멤버
								수정</button>
						</div>
					</tr>
				</tbody>
			</table>
		</div>
</form>