<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.kr.mapper.MusicMapper">

	<insert id="musicFileUpload"
		parameterType="com.co.kr.domain.MusicFileDomain">
		INSERT INTO musicsns.musicfiles (
		bd_seq,
		mb_id,
		mb_name,
		music_original_file_name,
		music_new_file_name,
		music_file_path,
		music_file_size
		)
		VALUES (
		#{bdSeq},
		#{mbId},
		#{mbName},
		#{musicOriginalFileName},
		#{musicNewFileName},
		#{musicFilePath},
		#{musicFileSize}
		)
	</insert>
	<update id="musicFileUpdate"
		parameterType="com.co.kr.domain.MusicFileDomain">
		UPDATE musicsns.musicfiles SET
		bd_seq=#{bdSeq},
		mb_id=#{mbId},
		mb_name=#{mbName},
		music_original_file_name=#{musicOriginalFileName},
		music_new_file_name=#{musicNewFileName},
		music_file_path=#{musicFilePath},
		music_file_size=#{musicFileSize}
		WHERE bd_seq=#{bdSeq}
	</update>
	<delete id="musicFileRemove"
		parameterType="com.co.kr.domain.MusicFileDomain">
		DELETE FROM musicsns.musicfiles WHERE bd_seq = #{bdSeq}
	</delete>
	<delete id="musicFileOneRemove"
		parameterType="HashMap">
		DELETE FROM musicsns.musicfiles WHERE bd_seq = #{bdSeq}
	</delete>
	<delete id="musicFileAllRemove" parameterType="hashMap">
		DELETE FROM
		musicsns.musicfiles WHERE mb_id = #{mbId}
	</delete>
	<select id="boardSelectOneMusicFile"
		resultType="com.co.kr.domain.MusicFileDomain" parameterType="map">
		SELECT
		bd_seq, mb_id, mb_name, music_original_file_name, music_new_file_name,
		music_file_path,
		music_file_size
		FROM musicsns.musicfiles where bd_seq =
		#{bdSeq}
	</select>
</mapper>
