<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout" itemscope
	itemtype="http://schema.org/WebPage">
<header th:fragment="headerFragment">
	<!-- Navbar -->
	<div class="container position-sticky z-index-sticky top-0">
		<div class="row">
			<div class="col-12">
				<nav th:if="${session.id}"
					class="navbar navbar-expand-lg  blur border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
					<div class="container-fluid px-0">
						<a class="navbar-brand font-weight-bolder ms-sm-3"
							th:href="@{/bdList}"> MusicSNS </a>

						<div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100"
							id="navigation">
							<ul class="navbar-nav navbar-nav-hover ms-auto">
								<li class="nav-item dropdown dropdown-hover mx-2"><a
									class="nav-link ps-2 d-flex cursor-pointer align-items-center"
									id="dropdownMenuPages" data-bs-toggle="dropdown"
									aria-expanded="false"> <i
										class="material-icons opacity-6 me-2 text-md">dashboard</i>
										Developer <img src="img/down-arrow-dark.svg" alt="down-arrow"
										class="arrow ms-auto ms-md-2">
								</a>
									<div
										class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-xl mt-0 mt-lg-3"
										aria-labelledby="dropdownMenuPages">
										<div class="d-none d-lg-block">
											<h6
												class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1">
												Are you curious about us?</h6>
											<a th:href="@{about}" class="dropdown-item border-radius-md">
												<span>About Us</span>
											</a>
										</div>
										<div class="d-lg-none">
											<h6
												class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1">
												Landing Pages</h6>

											<a th:href="@{about}" class="dropdown-item border-radius-md">
												<span>About Us</span>
											</a>
										</div>
									</div></li>
								<li class="nav-item dropdown dropdown-hover mx-2"><a
									class="nav-link ps-2 d-flex cursor-pointer align-items-center"
									id="dropdownMenuPages" data-bs-toggle="dropdown"
									aria-expanded="false"> <i
										class="material-icons opacity-6 me-2 text-md">dashboard</i>
										Board <img src="img/down-arrow-dark.svg" alt="down-arrow"
										class="arrow ms-auto ms-md-2">
								</a>
									<div
										class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-xl mt-0 mt-lg-3"
										aria-labelledby="dropdownMenuPages">
										<div class="d-none d-lg-block">
											<h6
												class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1">
												Main Pages</h6>
											<a th:href="@{bdList}" class="dropdown-item border-radius-md">
												<span>Board</span>
											</a>
										</div>

										<div class="d-lg-none">
											<h6
												class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1">
												Main Pages</h6>

											<a th:href="@{bdList}" class="dropdown-item border-radius-md">
												<span>Board</span>
											</a>
										</div>
									</div></li>
								<li class="nav-item dropdown dropdown-hover mx-2"><a
									class="nav-link ps-2 d-flex cursor-pointer align-items-center"
									id="dropdownMenuPages" data-bs-toggle="dropdown"
									aria-expanded="false"> <i
										class="material-icons opacity-6 me-2 text-md">dashboard</i>
										Recommend <img src="img/down-arrow-dark.svg" alt="down-arrow"
										class="arrow ms-auto ms-md-2">
								</a>
									<div
										class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-xl mt-0 mt-lg-3"
										aria-labelledby="dropdownMenuPages">
										<div class="d-none d-lg-block">
											<h6
												class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1">
												Recommend Some Music</h6>
											<a th:href="@{gptview}"
												class="dropdown-item border-radius-md"> <span>GPT
													Recommend</span>
											</a>
										</div>

										<div class="d-lg-none">
											<h6
												class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1">
												Recommend Some Music</h6>
											<a th:href="@{gptview}"
												class="dropdown-item border-radius-md"> <span>GPT
													Recommend</span>
											</a>
										</div>
									</div></li>
								<li class="nav-item dropdown dropdown-hover mx-2"><a
									class="nav-link ps-2 d-flex cursor-pointer align-items-center"
									id="dropdownMenuPages" data-bs-toggle="dropdown"
									aria-expanded="false"> <i
										class="material-icons opacity-6 me-2 text-md">dashboard</i>
										Account<img src="img/down-arrow-dark.svg" alt="down-arrow"
										class="arrow ms-auto ms-md-2">
								</a>
									<div
										class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-xl mt-0 mt-lg-3"
										aria-labelledby="dropdownMenuPages">
										<div class="d-none d-lg-block">
											<h6
												class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1">
												Profile</h6>
											<a th:href="@{author(mbSeq=${session.mbSeq})}"
												class="dropdown-item border-radius-md"> <span>MyProfile</span>
											</a>
											<h6
												class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1 mt-3">
												Account Management</h6>
											<a th:href="@{logout}" class="dropdown-item border-radius-md">
												<span>Logout</span>
											</a><a th:href="@{drawal}" class="dropdown-item border-radius-md">
												<span>Drawal</span>
											</a>
										</div>

										<div class="d-lg-none">
											<h6
												class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1">
												Profile</h6>
											<a th:href="@{author(mbSeq=${session.mbSeq})}"
												class="dropdown-item border-radius-md"> <span>MyProfile</span>
											</a> <a th:href="@{mbList}" th:if="${session.name=='admin'}"
												class="dropdown-item border-radius-md"> <span>Admin</span>
											</a>
											<h6
												class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1 mt-3">
												Account Management</h6>
											<a th:href="@{logout}" class="dropdown-item border-radius-md">
												<span>Logout</span>
											</a><a th:href="@{drawal}" class="dropdown-item border-radius-md">
												<span>Drawal</span>
											</a>
										</div>
									</div></li>
								<li class="nav-item dropdown dropdown-hover mx-2" th:if="${session.mbLevel}==100"><a
									class="nav-link ps-2 d-flex cursor-pointer align-items-center"
									id="dropdownMenuPages" data-bs-toggle="dropdown"
									aria-expanded="false"> <i
										class="material-icons opacity-6 me-2 text-md">dashboard</i>
										Management<img src="img/down-arrow-dark.svg" alt="down-arrow"
										class="arrow ms-auto ms-md-2">
								</a>
									<div
										class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-xl mt-0 mt-lg-3"
										aria-labelledby="dropdownMenuPages">
										<div class="d-none d-lg-block">
											<h6
												class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1">
												Memeber Management</h6>
											<a th:href="@{mbList}" th:if="${session.name=='admin'}"
												class="dropdown-item border-radius-md"> <span>Admin</span>
											</a>
										</div>

										<div class="d-lg-none">
											<h6
												class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1">
												Memeber Management</h6>
											<a th:href="@{mbList}" th:if="${session.mbLevel}==100"
												class="dropdown-item border-radius-md"> <span>Admin</span>
											</a>
										</div>
									</div></li>
								<li class="nav-item ms-lg-auto"><a
									class="nav-link nav-link-icon me-2"
									href="https://github.com/MusicSNS" target="_blank"> <i
										class="fa fa-github me-1"></i>
										<p class="d-inline text-sm z-index-1 font-weight-bold"
											data-bs-toggle="tooltip" data-bs-placement="bottom"
											title="Star us on Github">Github</p>
								</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>
</html>